<!DOCTYPE html>
<html lang="pt_br"> <!-- Lang é um atributo para a língua que vai ser escrito o código-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5">
    <title>Alô Prof | Plataforma de Estudos</title>

    <link rel="shortcut icon" href="IMAGENS/favicon.png">
    <!--Dentro do Head vai as nossas configurações-->
    <!--Alt + z , o VScode adapta ao tamanho da tela para trabalhar melhor -->

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-landing.css">
    <!--PARA CONECTAR AO CSS -->
    <!-- um / antes do "style.css" é pra dizer ao vs code que o arquivo está na pasta raiz -->
    <!--  .nomedaclasse PARA CHAMAR A CLASSE NO CSS  -->
    <!-- #id PRA CHAMAR O ID NO CSS id="nome do id" -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!--Alt + z = para o vscode adaptar o código ao tamanho da tela aberta -->
</head>

<body id="page-landing">
    <!--Abrir o arquivo com a extensão live server para atualizar automaticamente no navegador-->



    <div id="container">
        <div class="logo-container">

            <img class="PROFESSOR" src="/IMAGENS/ALO PROF.png" alt="PROFESSOR"> <!--alt = texto alternativo -->


            <h2>Sua Plataforma de estudos on-line</h2>

        </div>
        <img class="PROFESSOR-2" src="IMAGENS/GIF.gif" alt="PROFESSOR-2">



        <div class="buttons-container">
            <a class="study" href="/study">
                <img src="/IMAGENS/icons/study.svg" alt="ESTUDAR">
                Estudar
            </a>

            <a class="give-classes" href="/give-classes">
                <img src="/IMAGENS/icons/give-classes.svg" alt="Dar aulas">
                Dar Aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 589 conexões já realizadas
            <img src="IMAGENS/icons/purple-heart.svg" alt="Coração azul">
        </p>
    </div>

</body>

</html>